
/*========================================
Button Style
==========================================*/

.button {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.outline, 
.full {
	font-family: "DM-Sans Regular";
	font-size: 18px;
	line-height: 22px;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.outline {
	border: 1px solid #E4A174;
	box-sizing: border-box;
	color: #E4A174;
}

.full {
	background: #E4A174;
	color: #434343;
}

.outline:hover {
	background-color: rgba(228, 161, 116, 0.2);
}

.full:hover {
	background-color: rgba(228, 161, 116, 0.8);
}