
/*========================================
Create Style
==========================================*/

@import "./additi/button.css";
@import "./additi/scroll.css";

/*---------------------- Workspace -----------------------*/

.content__workspace {
	width: calc(100% - 299px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/*---------------------- Workspace Create -----------------------*/

.workspace__create {
	height: calc(100% - 85px);
	width: 100%;
	background-color: #434343;
	border-radius: 5px;
	padding: 20px;
}

.workspace__create textarea {
	width: 100%;
	height: 100%;
	background-color: transparent;
	color: white;
	font-size: 18px;
	resize: none;
}

/*---------------------- Workspace Publish -----------------------*/

.workspace__publish {
	height: 80px;
	width: 100%;
	background-color: #434343;
	border-radius: 5px;
	padding: 10px 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/*---------------------- Publish File -----------------------*/

.publish__file {

}

.file__img {
	margin-left: 10px;
}

/*---------------------- Publish Botton -----------------------*/

.publish__button {}
.button {}
.full {}
