
.workspace__comments ul::-webkit-scrollbar-track,
.content__products ul::-webkit-scrollbar-track,
.form__input form::-webkit-scrollbar-track,
.content__text::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #5f4c41;
	border-radius: 10px;
}


.workspace__comments ul::-webkit-scrollbar,
.content__products ul::-webkit-scrollbar,
.form__input form::-webkit-scrollbar,
.content__text::-webkit-scrollbar
{
	width: 2px;
	background-color: #5f4c41;
}


.workspace__comments ul::-webkit-scrollbar-thumb,
.content__products ul::-webkit-scrollbar-thumb,
.form__input form::-webkit-scrollbar-thumb,
.content__text::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
  	left bottom,
	left top,
	color-stop(0.34, rgba(228, 161, 116, 0.8)),
	color-stop(0.72, #d07335),
	color-stop(0.86, #b55617));
}